section#center
   .img
      img(src="./img/center/img.jpg", alt="img", height="530")
   
   .open
      h2.h2 УСПЕЙТЕ ОТКРЫТЬ ЦЕНТР КОПТЕРЛАБ В 2024 ГОДУ

      .steps
         .step
            img(src="./img/center/chevrons/1.svg", alt="chevron")
            h4.h4 РЫНОК ТРУДА ТРЕБУЕТ СПЕЦИАЛИСТОВ БПЛА
         .step
            img(src="./img/center/chevrons/2.svg", alt="chevron")
            h4.h4 Люди хотят получить интересную и высокооплачиваемую специальность
         .step
            img(src="./img/center/chevrons/3.svg", alt="chevron")
            h4.h4 Родители готовы платить за обучение детей технологичной профессии

         .step
            img(src="./img/center/chevrons/4.svg", alt="chevron")
            h4.h4 С ФРАНШИЗОЙ КОПТЕРЛАБ ВЫ ПОЛУЧАЕТЕ
             span ДВА НАПРАВЛЕНИЯ БИЗНЕСА
             |ДЛЯ РАБОТЫ СО ВЗРОСЛЫМИ И ДЕТЬМИ
   
   .circle 
      span X3
      h4.h4 БИЗНЕС-НИША УВЕЛИЧИТСЯ В 3 РАЗА В БЛИЖАЙШИЕ ГОДЫ