section#choose 
   h2.h2.title ВЫБЕРЕТЕ СВОЙ ПАКеТ ФРАНШИЗЫ КОПТЕРЛАБ

   .packages
      .package.center
         .wrapper
            .type
               img(src="./img/choose/center.svg", alt="center" width=130 height=130)
               .wrap
                  h2.h2 ЦЕНТР
            .head
               h3.h3 Обучайте специалистов по сертифицированной программе ФОП КоптерЛаб
               h4.h4 Вы получаете эксклюзивное право обучать специалистов с выдачей документа установленного образца на закрепленной за вами территории (город и ближайшая область).
         .invest
            .point
               span.h2 от 4 млн руб
               h4.h4 Общие инвестиции
            .point
               span.h2 от 10 мес
               h4.h4 Окупаемость инвестиций
            .point
               span.h2 от 420 тыс руб
               h4.h4 Паушальный взнос
            .point
               span.h2 от 250 тыс руб
               h4.h4 Средняя прибыль за месяц 

         .clients
            h3.h3 Вашими клиентами будут:

            .wrap 
               .client
                  span.h2 B2B
                  h4.h4 Компании для подготовки сотрудников
               .client
                  span.h2 B2C
                  h4.h4 Люди, которые хотят получить интересную работу с высоким доходом
               .client
                  span.h2 B2G
                  h4.h4 Сотрудники государственных служб, такие как МЧС, РосГвардия, МинТруд и другие ведомства

      .package.school
         .wrapper
            .type
               img(src="./img/choose/school.svg", alt="school" width=130 height=130)
               .wrap
                  h2.h2 школа
            .head
               h3.h3 Обучайте специалистов по сертифицированной программе ФОП КоптерЛаб
               h4.h4 Вашими учениками станут школьники с 1 по 11 классы и студенты. Школа КоптерЛаб — это увлекательное обучение, участие в гонках дронов и получение сертификата оператора БПЛА с удостоверением о часах налета.
         .invest
            .point
               span.h2 от 2 млн руб
               h4.h4 Общие инвестиции
            .point
               span.h2 от 12 мес
               h4.h4 Окупаемость инвестиций
            .point
               span.h2 от 240 тыс руб
               h4.h4 Паушальный взнос
            .point
               span.h2 от 170 тыс руб
               h4.h4 Средняя прибыль за месяц 
         .clients
            h3.h3 Вашими клиентами будут:

            .client
               span.h2.green B2C
               h4.h4 Увлекательное дополнительное образование для детей от 7 до 18 лет. Возможность развития в спортивной или профессиональной карьере. Внешкольные программы могут проводиться в школах и общественных центрах. Формат лагеря отдыха на весенних и зимних каникулах.