section#conditions
   .img
      img(src="./img/conditions/img.jpg", alt="img").picture
      img(src="./img/conditions/plus.svg", alt="geometry figure").figure
   
   .conditions
      img.logo(src="./img/conditions/copterlab.svg", alt="logo")
      h2.h2 КУДА НАПРАВИТЬ УСЛОВИЯ СОТРУДНИЧЕСТВА И КАРТУ ЗАПУСКА ЦЕНТРА&nbsp;
         span В ВАШЕМ ГОРОДЕ?
      img(src="./img/conditions/plus.svg", alt="geometry figure").figure

      .buttons
         .button.phone
            a(href="#") по телефону
            span.blick.light
         .button.app
            a(href="#") whats app
            span.blick.light

      img.vector(src="./img/conditions/x_vector.svg", alt="")