section#documents
   .text
      h2.h2 поможем оценить спрос на обучение бпла в вашем городе
      h4.h4 Перезвоним и расскажем, как собрать данные в вашем городе и вышлем подробную финансовую модель

   form.form(action="./php/mail.php", method="POST")
      .inputs
         input(type="text", placeholder="Имя" name='name')
         input(type="email", placeholder="E-mail*" name='email' required)
         input(type="tel", placeholder="Телефон*" name='phone' required)
         input(type="text", placeholder="Город*" name='city' required)

      .wrapper
         h5.policy Нажимая кнопку «ПОЛУЧИТЬ ПАКЕТ ДОКУМЕНТОВ», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных*
         button.button.green(type="submit") ПОЛУЧИТЬ ПАКЕТ ДОКУМЕНТОВ
            span.blick.light