include ../components/link.pug

section#download
   .disciplines.HIGH
      .discipline.L_GRID
         img(src="./img/tech/black.svg", width=110 height=110 alt="black plus").circle
         .wrap
            h4.h4 условия франшизы
      .discipline.R_GRID
         img(src="./img/tech/green.svg", width=110 height=110 alt="green plus").circle
         .wrap
            h4.h4 фото и видео с занятий

   .text
      h2.h2 
         span.f СКАЧАЙТЕ ГОТОВЫЙ НАБОР МАТЕРИАЛОВ
            span.blick.light
      h4.h4 выберите как получить материалы

      .links 
         +link('https://wa.me/79938986058?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C.%20%D0%9F%D1%80%D0%BE%D1%88%D1%83%20%D0%BD%D0%B0%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BD%D0%B5%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D1%84%D1%80%D0%B0%D0%BD%D1%88%D0%B8%D0%B7%D1%8B%20%D0%A4%D0%9E%D0%9F%20%D0%9A%D0%BE%D0%BF%D1%82%D0%B5%D1%80%D0%9B%D0%B0%D0%B1.', 'wa')
         +link('https://t.me/manager_copterlab', 'tg')
         +link('mailto:manager@copterlab.ru', 'mail')


   .disciplines.LOW
      .discipline.L_GRID
         img(src="./img/tech/green.svg", width=110 height=110 alt="green plus").circle
         .wrap
            h4.h4 подробная финансовая модель
      .discipline.R_GRID
         img(src="./img/tech/black.svg", width=110 height=110 alt="black plus").circle
         .wrap
            h4.h4 программа федеральной образовательной программы коптерлаб
   
   img(src="./img/tech/x_bg.svg", alt="x_vector").vector