section#drive 
   div#marquee
      .container 
         h2.h2 Бизнес&nbsp;
            span Драйв
         h2.h2 Бизнес&nbsp;
            span Драйв
         h2.h2 Бизнес&nbsp;
            span Драйв
         h2.h2 Бизнес&nbsp;
            span Драйв



         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         //- h2.h2 Бизнес&nbsp;
         //-    span Драйв
         
   .drive
      .cards
         .card.black 
            h2.h2 БИЗНЕС — ЭТО  ДРАЙВ И УДОВОЛЬСТВИЕ?
            img(src="./img/drive/q.svg", alt="question").vector__q

         .card.green 
            span.big ДА,
            h3 Если Вы руководитель центра коптерлаб!
            img(src="./img/drive/e.svg", alt="question").vector__e


         .card
            img(src="./img/drive/arrow.svg", alt="arrow", width="32", height="50").arrow
            .union
               h3.h3 ЛЮБИМОЕ ДЕЛО
               h4.h4 Будете заниматься любимым делом. Превратите хобби в источник дохода. Летайте, помогайте взрослым и детям освоить пилотирование БПЛА. 

         .card
            img(src="./img/drive/arrow.svg", alt="arrow", width="32", height="50").arrow
            .union
               h3.h3 УЧАСТИЕ В СОРЕВНОВАНИЯХ
               h4.h4 Примете участие в соревнованиях. Ваша команда получит аккредитацию для участия в соревнованиях Федерации Гонок Дронов России.

         .card
            img(src="./img/drive/arrow.svg", alt="arrow", width="32", height="50").arrow
            .union
               h3.h3 БЛАГОДАРНЫЕ УЧЕНИКИ
               h4.h4 Взрослые выпускники благодарят преподавателей и оставляют теплые отзывы о программе. Дети радуются каждому занятию и не скрывают восторга от управления коптерами.

         .card
            img(src="./img/drive/arrow.svg", alt="arrow", width="32", height="50").arrow
            .union
               h3.h3 ВЫ — МЕДИЙНАЯ ЛИЧНОСТЬ
               h4.h4 Станете медийной личностьюб. Примите участие в телеэфирах с федеральным охватом зрителей, съемке фото и видео с гоночной трассы, дадите интервью в СМИ для продвижения услуг центра в вашем городе.


