footer 
   .container 
      .logo
         img(src="./img/footer/dark_logo.svg", alt="logo").img
         img(src="./img/footer/dark_copter_text.svg", alt="copter").text

      .contacts
         a(href="tel:+79257502701").number 8 925 750 2701
         .social
            a(href="#") 
               img(src="./img/footer/dark_tg.svg", alt="telegram")
            a(href="#") 
               img(src="./img/footer/dark_wa.svg", alt="whatsapp")

   .policy 
      a(href="#") Политика конфиденциальности 