section#gov
   h2.h2.title Государство и федеральные компании создают возможности для

   .interactions
      .interaction
         h3.h3 Взаимодействия:
         table 
            tbody 
               tr.without
                  td 
                     h4.h4 Вовлечения людей в специальность 
                  td 
                     h4.h4 Трудоустройства выпускников центров КоптерЛаб
                  td 
                     h4.h4 Создания интереса и соревновательного азарта среди молодежи  
                     

      .interaction
         table 
            tbody 
               tr.img  
                  td.img__td 
                   img(src="./img/gov/fgdr.svg", alt="ФГДР") 
                  td.img__td 
                     img(src="./img/gov/fop.svg", alt="ФОП")   
                  td.img__td 
                     img(src="./img/gov/logo.svg", alt="КОПТЕРЛАБ")  
               tr 
                  
                  td 
                     h4.h4 ФГДР является лицензиаром ФОП по обучению специалистов БПЛА
 
                  
                  td 
                     h4.h4 Федеральная образовательная программа является продуктом центра

                  
                  td 
                     h4.h4 Бренд под которым проходит обучение  по программе ФОП и развивается франчайзинговая сеть.

      .push 
         h3.h3 Усиление проекта:

         .supports 
            img.support(src="./img/push/logos/1.svg", alt="support")
            img.support(src="./img/push/logos/2.svg", alt="support")
            img.support(src="./img/push/logos/3.svg", alt="support")
            img.support(src="./img/push/logos/4.svg", alt="support")
            img.support(src="./img/push/logos/5.svg", alt="support")
            img.support(src="./img/push/logos/6.svg", alt="support")
            img.support(src="./img/push/logos/7.svg", alt="support")
            img.support(src="./img/push/logos/8.svg", alt="support")

   .banner 
      img(src="./img/push/down_arrows.svg", alt="arrow" height=80 weight=60).arrow      

      .wrapper 
         img(src="./img/push/copterlab.svg", alt="logo" width=530 height=50)
         h3.h3 ФРАНШИЗА

         h4.h4.ticket ваш пропуск в приоритетную нишу бизнеса, которая входит в Национальный проект РФ.



