header#header
   .logo
      img(src="./img/logo.svg", alt="logo").img
      img(src="./img/header/copter_text.svg", alt="copter").text
   .contacts
      a(href="tel:+74952233839").number +7 495 223 3839
      .social
         a(href="https://t.me/+79938986058") 
            img(src="./img/header/tg.svg", alt="telegram")
         a(href="https://wa.me/79938986058?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C.%20%D0%9F%D1%80%D0%BE%D1%88%D1%83%20%D0%BD%D0%B0%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BD%D0%B5%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D1%84%D1%80%D0%B0%D0%BD%D1%88%D0%B8%D0%B7%D1%8B%20%D0%A4%D0%9E%D0%9F%20%D0%9A%D0%BE%D0%BF%D1%82%D0%B5%D1%80%D0%9B%D0%B0%D0%B1.") 
            img(src="./img/header/wa.svg", alt="whatsapp")