header#header
   .logo
      img(src="./img/logo.svg", alt="logo").img
      img(src="./img/header/copter_text.svg", alt="copter").text
   .contacts
      a(href="tel:+79257502701").number 8 925 750 2701
      .social
         a(href="#") 
            img(src="./img/header/tg.svg", alt="telegram")
         a(href="#") 
            img(src="./img/header/wa.svg", alt="whatsapp")