#mainscreen
   .text
      .title
         h2.h2 Открой  свой  центр подготовки операторов&nbsp;
            span БПЛА&nbsp;
            |по франшизе&nbsp;
            span за 8 недель
         h4.h4 ПОЛУЧИТЕ ЭКСКЛЮЗИВНОЕ ПРАВО ОБУЧАТЬСЯ ВОСТРЕБОВАННОЙ ПРОФЕССИИ В НИШЕ ВЫСОКИХ ТЕХНОЛОГИЙ
      .button.green.open-modal СКАЧАТЬ ПРЕЗЕНТАЦИЮ ФРАНШИЗЫ

   .img
      img(src="./img/mainscreen/copter.jpg", alt="background").background
      img(src="./img/mainscreen/cplus.svg", alt="circle plus" width=142 height=142).circle

   .profit
      .title
         h4.h4  ЗАНИМАЙТЕСЬ УВЛЕКАТЕЛЬНЫМ И  ПОЛЕЗНЫМ БИЗНЕСОМ  С  ДОХОДОМ
         h3 >250 000
            span.rub РУБ/МЕС
      .benefits
         .benefit
            img(src="./img/mainscreen/plus.svg", alt="benefit" width=64 height=64)
            h4.h4 Эксклюзив на город

         .benefit
            img(src="./img/mainscreen/plus.svg", alt="benefit" width=64 height=64)
            h4.h4 Развитие центра при поддержке федерации гонок дронов России (ФГДР)

         .benefit
            img(src="./img/mainscreen/plus.svg", alt="benefit" width=64 height=64)
            h4.h4 2 в 1, получайте доход от занятий в центре и школах города
      
         img(src="./img/mainscreen/vector.svg", alt="").vector