#main
   .text
      .title
         h2.h2 Открой  свой  <br> центр  подготовки операторов&nbsp;
            span БПЛА&nbsp;<br>
            |по франшизе&nbsp;<br> 
            span за 8 недель
         h4.h4 ПОЛУЧИТЕ ЭКСКЛЮЗИВНОЕ ПРАВО ОБУЧАТЬ ВОСТРЕБОВАННОЙ ПРОФЕССИИ В НИШЕ ВЫСОКИХ ТЕХНОЛОГИЙ
      .button.green.open-modal СКАЧАТЬ ПРЕЗЕНТАЦИЮ ФРАНШИЗЫ
         span.blick.light

   .img
      img(src="./img/main/copter.jpg", alt="background").background
      img(src="./img/main/cplus.svg", alt="circle plus" width=142 height=142).circle_LEFT
      img(src="./img/main/cplus.svg", alt="circle plus" width=142 height=142).circle_RIGHT

   .profit
      .title
         h4.h4.maw ЗАНИМАЙТЕСЬ УВЛЕКАТЕЛЬНЫМ <br> И ПОЛЕЗНЫМ БИЗНЕСОМ <br> С  ДОХОДОМ

         h3 >250 000
            span.rub РУБ/МЕС
      .benefits
         .benefit
            img(src="./img/main/plus.svg", alt="benefit" width=64 height=64)
            h4.h4 Эксклюзив <br> на город

         .benefit
            img(src="./img/main/plus.svg", alt="benefit" width=64 height=64)
            h4.h4.maw Развитие центра при поддержке федерации гонок дронов России (ФГДР)

         .benefit
            img(src="./img/main/plus.svg", alt="benefit" width=64 height=64)
            h4.h4 2 в 1, получайте доход от занятий в центре и школах города
      
         img(src="./img/main/vector.svg", alt="").vector
