section#modals
   h2.h2.title БИЗНЕС-МОДЕЛЬ ФРАНШИЗЫ КОПТЕРЛАБ

   .modals
      .modals__modal.green.L_GRID 
         .title
            h2.h2 ЦЕНТР
         table.table
            tr.row.line
               td.data.line.p
                  span x1
               td.data.line
                  h3.h3 182 000 руб
                  h4.h4 Стоимость обучения с 1 человека
               td.data
                  h3.h3 79 000 руб
                  h4.h4 Операционный доход после оплаты рекламы, бонуса менеджеру и инструктору, роялти
            tr.row
               td.data.line.p
                  span x6
               td.data.line
                  h3.h3 475 000 руб
                  h4.h4 Операционный доход от потока из 6 учеников
               td.data
                  h3.h3 250 000 руб
                  h4.h4 Чистая прибыль после оплаты аренды, окладов, расходников для занятий

      .modals__modal.R_GRID
         .title
            h2.h2 школа
         table.table
            tr.row.line
               td.data.line.p
                 span x1
               td.data.line
                  h3.h3 14 400  руб
                  h4.h4 Стоимость абонемента на 8 занятий в месяц
               td.data
                  h3.h3 6
                  h4.h4 Учеников занимаются в одной группе
            tr.row
               td.data.line.p
                  span x6
               td.data.line
                  h3.h3 345 600 руб
                  h4.h4 Выручка от занятий 4-х групп или 24 детей за месяц
               td.data
                  h3.h3 170 000 руб
                  h4.h4 Чистая прибыль после оплаты аренды, окладов, расходников для занятий

      img(src="./img/modals/c_right.webp", alt="copter right" ).C_RIGHT
      img(src="./img/modals/c_left.webp", alt="copter left").C_LEFT