section#poll
   .text 
      h2.h2 Пройдите короткий тест — опрос
      h4.h4 Получите презентацию франшизы и подробную фин.модель для открытия центра КоптерЛаб в вашем городе

   .button.green.open-modal Пройти опрос

   img(src="./img/poll/copter.webp", alt="copter").copter
   img(src="./img/poll/x_vector.svg", alt="vector").vector