section#slider
   h2.h2 кадры с занятий и соревнований
   
   .slider 
      .swiper.mySwiper2
         .swiper-wrapper
            .swiper-slide.slide_1 
   
               img(src="./img/slider/1.webp", alt="slide 1" loading="lazy")
            .swiper-slide.slide_2 
               img(src="./img/slider/2.webp", alt="slide 2" loading="lazy")
            .swiper-slide.slide_3 
               img(src="./img/slider/3.webp", alt="slide 3" loading="lazy")
            .swiper-slide.slide_4 
               img(src="./img/slider/4.webp", alt="slide 4" loading="lazy")
            .swiper-slide.slide_5 
               img(src="./img/slider/5.webp", alt="slide 5" loading="lazy")

      .swiper-button-next
      .swiper-button-prev

      .swiper.mySwiper(thumbsSlider='')
         .swiper-wrapper
            .swiper-slide.slide_1 
               img(src="./img/slider/1.webp", width=150 hegiht=150 alt="slide 1"  loading="lazy")
            .swiper-slide.slide_2 
               img(src="./img/slider/2.webp", width=150 hegiht=150 alt="slide 2" loading="lazy")
            .swiper-slide.slide_3 
               img(src="./img/slider/3.webp", width=150 hegiht=150 alt="slide 3" loading="lazy")
            .swiper-slide.slide_4 
               img(src="./img/slider/4.webp", width=150 hegiht=150 alt="slide 4" loading="lazy")
            .swiper-slide.slide_5 
               img(src="./img/slider/5.webp", width=100 hegiht=100 alt="slide 5" loading="lazy")