section#steps 
   h2.h2 
      span 5 ШАГОВ<br>
      |К СОБСТВЕННОМУ УСПЕШНОМУ БИЗНЕСУ

   .steps  
      .step  
         .wrap.black
            span 1
         h4.h4 Получите консультацию по бизнес-процессам, методике обучения и оснащению центра

      .step
         .wrap 
            span 2
         h4.h4 Изучите финансовую модель, сравните стоимость труда и ставку аренды в своем городе

      .step 
         .wrap.black
            span 3
         h4.h4 Подберите возможные площадки для проведения занятий и обсудите их с куратором франшизы

      .step
         .wrap
            span 4
         h4.h4 Изучите договор о сотрудничестве, задайте вопросы и подпишите документы

      .step 
         .wrap.black
            span 5
         h4.h4 Пройдите обучение в образовательном центре в Москве по курсу пилотирования БПЛА. Предоставляем бесплатное обучение для вас и двух инструкторов в рамках сотрудничества по франшизе