section#tech
   .disciplines.HIGH
      .discipline.L_GRID
         img(src="./img/tech/black.svg", width=110 height=110 alt="black plus").circle
         .wrap
            h4.h4 ИНЖЕНЕРНАЯ СОСТАВЛЯЮЩАЯ, РОБОТОТЕХНИКА
      .discipline.R_GRID
         img(src="./img/tech/green.svg", width=110 height=110 alt="green plus").circle
         .wrap
            h4.h4 ПРОГРАММИРОВАНИЕ

   .text
      h2.h2 
         span.f ВЫСОКО-ТЕХНОЛОГИЧНая&nbsp;<br>
         |НИШа БИЗНЕСА
      h4.h4 Программа ФОП включает в себя дисциплины на стыке современных технологий. В центрах КоптерЛаб проходят подготовку специалисты, востребованные на крупных предприятиях.

   .disciplines.LOW
      .discipline.L_GRID
         img(src="./img/tech/green.svg", width=110 height=110 alt="green plus").circle
         .wrap
            h4.h4 ПИЛОТИРОВАНИЕ БПЛА
      .discipline.R_GRID
         img(src="./img/tech/black.svg", width=110 height=110 alt="black plus").circle
         .wrap
            h4.h4 СОРЕВНОВАНИЕ НА РЕГИОНАЛЬНОМ И ФЕДЕРАЛЬНОМ УРОВНЯХ
   
   img(src="./img/tech/x_bg.svg", alt="x_vector").vector