include ../components/index


main
   include _header
   include _mainscreen
   include _drive
   include _poll
   include _tech
   include _center
   include _choose
   include _documents
   include _modals
   include _gov
   include _download
   include _slider
   include _steps

