@import "../variables.scss";

.button {
  padding: 25px 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: $b;

  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;

  box-shadow: 0px 4px 30px 0px #b7f446c8;

  @media (max-width: $notebooks) {
    font-size: 12px;
  }

  &.transparent {
    border: 1px solid $blue;
    background-color: transparent;

    a {
      color: $blue;
    }
  }

  &.blue {
    background-color: $blue;
  }

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }
}
