@use "../variables.scss" as *;

#gov {
  padding: 80px 100px;
  .h2,
  .h3,
  .h4 {
    color: $b;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    text-transform: none;
    font-size: 14px;
    text-align: center;
  }

  .title {
    max-width: 820px;
    margin-bottom: 50px;
  }

  .interactions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .interaction,
    .push {
      border-radius: 20px;
      background-color: $w;
      width: 100%;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;

      filter: drop-shadow(5px 5px 20px #00000010);

      .h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      table {
        border-collapse: collapse;

        tr {
          &.img {
            text-align: center;
          }
          td + td {
            border-left: 2px dashed $dark;
          }

          td {
            height: 120px;
            padding: 10px;

            &.img__td {
              border: none;
              height: 60px;
              padding: 0 10px;

              img {
                object-fit: contain;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .push {
      grid-column: 1/-1;
      max-width: unset;

      .h3 {
        text-align: center;
        margin-bottom: 40px;
      }

      .supports {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .arrow {
      margin: 40px 0;
    }

    .wrapper {
      background-color: $green;
      width: 100%;
      border-radius: 20px;
      padding: 60px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 20px;
        object-fit: contain;
        width: 100%;
      }

      .h3 {
        margin-bottom: 30px;
      }

      .ticket {
        text-transform: uppercase;
        max-width: 510px;
        font-size: 18px;
      }
    }
  }

  @media (max-width: $lscreen) {
    padding: 80px 60px;

    .interactions {
      grid-template-columns: 1fr;

      .interaction {
        table {
          text-align: center;

          tr {
            td {
              .h4 {
                text-align: center;
                max-width: 300px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $notebooks) {
    padding: 80px 40px;

    .interactions {
      .interaction {
        table {
          tr {
            td {
              .h4 {
                max-width: 250px;
              }
            }
          }
        }
      }

      .push {
        align-items: center;

        .h3 {
          text-align: center !important;
        }

        .supports {
          display: grid;
          justify-content: unset;
          grid-template-columns: repeat(4, minmax(0, 1fr));
          grid-template-rows: repeat(2, 1fr);
          align-items: center;
          grid-gap: 20px;
          width: 100%;
          text-align: center;
          justify-items: center;
        }
      }
    }

    .banner {
      .wrapper {
        img {
          max-width: 400px;
          margin-bottom: unset;
        }

        .h3 {
          margin-bottom: 20px;
        }

        .ticket {
          max-width: 460px;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 50px 20px;

    .h3 {
      font-size: 20px;
    }

    .interactions {
      .interaction {
        .h3 {
          text-align: center;
        }

        table {
          tbody {
            display: flex;
            justify-content: center;

            tr.img {
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              td {
                border-bottom: 1px dashed $b;
                height: 100%;
                padding: 0 10px;
                text-align: center;
                justify-content: space-around;
                display: flex;
              }
            }

            tr {
              display: flex;
              flex-direction: column;

              td {
                border-bottom: 1px dashed $b;
                display: flex;
                align-items: center;

                &:last-child {
                  border-bottom: unset;
                }
              }

              td + td {
                border-left: unset;
              }
            }
          }
        }
      }
      .push {
        .supports {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-template-rows: unset;
          grid-auto-rows: 1fr;
          width: unset;
          grid-gap: 40px;
        }
      }
    }

    .h3 {
      margin-bottom: 25px;
    }

    .banner {
      .wrapper {
        img {
          max-width: 350px;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .title {
      margin-bottom: 25px;
      font-size: 20px;
    }

    .interactions {
      .interaction {
        .h3 {
          font-size: 16px;
          display: flex;
          justify-content: center;
        }

        table {
          tr {
            td {
              .h4 {
                font-size: 12px;
              }
            }

            &.without {
              td {
                .h4 {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .push {
        .h3 {
          font-size: 16px;
          margin-bottom: 25px;
        }
        .supports {
          grid-gap: 20px;
        }
      }
    }

    .banner {
      .arrow {
        margin: 20px 0;
        height: 60px;
      }
      .wrapper {
        .h3 {
          font-size: 18px;
        }

        .ticket {
          font-size: 14px;
        }
      }
    }
  }
}
