@use "../variables.scss" as *;

#mainscreen {
  .text {
    padding: 50px 100px;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .h2 {
        text-transform: uppercase;
        color: $w;
        font-weight: 500;
        max-width: 850px;

        br {
          display: none;
        }
      }

      .h4 {
        max-width: 700px;
      }
    }

    .button {
      max-width: 300px;
    }
  }

  .img {
    position: relative;

    .background {
      object-fit: contain;
      width: 100%;
      margin-bottom: -3px;
    }

    .circle_LEFT {
      position: absolute;
      width: 142px;
      height: 142px;
      top: 50px;
      right: 20%;
    }

    .circle_RIGHT {
      position: absolute;
      width: 142px;
      height: 142px;
      bottom: 50px;
      left: 5%;
    }
  }

  .profit {
    display: flex;

    .h4 {
      color: $b !important;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: $green;
      padding: 100px 100px;
      max-width: 450px;
      width: 100%;

      h4 {
        max-width: 300px;
        br {
          display: none;
        }
      }

      h3 {
        display: flex;
        flex-direction: column;

        font-size: 32px;
        font-weight: 600;

        span.rub {
          font-family: "maniford" !important;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .benefits {
      background-color: $background;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding: 50px 60px;
      justify-content: space-between;
      overflow: hidden;
      z-index: 1;
      position: relative;

      .benefit {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        max-height: 140px;
        height: 100%;
        z-index: 3;

        h4 {
          max-width: 300px;
        }
      }

      .vector {
        z-index: 2;

        position: absolute;
        max-width: 550px;
        right: 0;
        top: 0;
        scale: 1.4;
      }
    }
  }

  @media (max-width: $lscreen) {
    .text {
      padding: 20px 60px;
      gap: 20px;

      .title {
        .h2 {
          max-width: 700px;
        }

        .h4 {
          max-width: 700px;
        }
      }
    }

    .profit {
      .title {
        padding: 50px 60px;
        max-width: 350px;

        .h4 {
          br {
            display: block;
          }
        }

        h3 {
          font-size: 30px;
        }
      }

      .benefits {
        position: relative;
        z-index: 1;

        .benefit {
          z-index: 3;

          img {
            width: 50px;
            height: 50px;
          }
        }

        .vector {
          object-fit: contain;
          max-width: 400px;
        }
      }
    }
  }

  @media (max-width: $notebooks) {
    .text {
      padding: 20px 40px;

      .button {
        max-width: 250px;
      }
    }

    .img {
      .circle_LEFT {
        width: 100px;
        height: 100px;
      }

      .circle_RIGHT {
        width: 100px;
        height: 100px;
        left: 5%;
        bottom: 25px;
      }
    }

    .profit {
      flex-direction: column;

      .title {
        padding: 40px;
        max-width: unset;
        align-items: center;

        .h4 {
          max-width: unset;
          font-size: 22px;
          text-align: center;

          br {
            display: none;
          }
        }

        h3 {
          font-size: 35px;
          text-align: center;
        }
      }

      .benefits {
        align-items: baseline;
        padding: 40px;

        .vector {
          max-width: 350px;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .text {
      padding: 20px;
      flex-direction: column;

      .title {
        align-items: center;
        gap: 10px;
      }
    }

    .img {
      .circle_LEFT {
        width: 70px;
        height: 70px;
        top: 25px;
        right: 10%;
      }

      .circle_RIGHT {
        width: 70px;
        height: 70px;
        left: 10%;
        bottom: 25px;
      }
    }

    .profit {
      .benefits {
        align-items: center;
        flex-direction: column;

        .vector {
          max-width: unset;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .text {
      .title {
        align-items: flex-start;

        .h4 {
          text-align: left;
          font-size: 14px;
          max-width: 300px;
        }

        .h2 {
          letter-spacing: 1px;
          font-size: 16px;

          br {
            display: block;
          }

          span {
            max-width: 300px;
          }
        }
      }

      .button {
        max-width: unset;
      }
    }

    .img {
      .circle_LEFT {
        width: 50px;
        height: 50px;
        top: 20px;
        right: 15%;
      }

      .circle_RIGHT {
        width: 50px;
        height: 50px;
        left: 5%;
        bottom: 5px;
      }
    }

    .profit {
      .title {
        width: 100%;
        align-items: center;
        padding: 20px;

        .h4 {
          font-size: 20px;
          text-align: left;
        }
      }

      .benefits {
        .benefit {
          max-height: unset;
        }
      }
    }
  }
}
