@use "../variables.scss" as *;

#modals {
  padding: 80px 100px 60px;
  display: flex;
  flex-direction: column;

  .h2 {
    max-width: 600px;

    &.title {
      margin-bottom: 50px;
    }
  }

  .h3,
  .h4,
  span {
    color: $b;
    text-align: left;
  }

  span {
    font-family: "maniford";
  }

  .h4 {
    text-transform: none;
  }

  .h4 {
    max-width: 200px;
  }

  .modals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;

    position: relative;

    .C_LEFT,
    .C_RIGHT {
      position: absolute;
      object-fit: contain;
    }

    .C_RIGHT {
      right: -100px;
      bottom: 45%;
    }

    .C_LEFT {
      left: -100px;
      bottom: 0;
    }

    &__modal {
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: 40px;
      border: 3px solid $green;

      .title {
        background: $dark;
        margin-top: -5px;

        .h2 {
          color: #fff;
          height: 70px;
          width: 350px;
          text-align: center;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }

      &.green {
        background-color: $green;
      }

      .table {
        padding: 60px 40px;
        display: flex;
        flex-direction: column;

        .row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          &.line {
            border-bottom: 2px dashed $b;
          }

          .data {
            padding: 20px;
            gap: 10px;
            display: flex;
            flex-direction: column;

            .h3 {
              font-size: 24px;
            }

            &.p {
              padding: 10px;
            }

            &.line {
              border-right: 2px dashed $b;
            }

            span {
              font-size: 50px;
              font-weight: 600;
            }
          }
        }
      }

      &.L_GRID {
        grid-column: 1/3;
        grid-row: 1;
      }

      &.R_GRID {
        grid-column: 2/4;
        grid-row: 2;
      }
    }
  }

  @media (max-width: $lscreen) {
    padding: 80px 60px 60px;

    .modals {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-between;

      .C_RIGHT {
        bottom: unset;
        width: 400px;
        top: -20%;
        right: -60px;
      }

      .C_LEFT {
        width: 350px;
        bottom: -120px;
        left: -60px;
      }

      &__modal {
        &.R_GRID,
        &.L_GRID {
          grid-column: 1/4;
        }
        .table {
          .row {
            .data {
              span {
                // font-size: 40px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $notebooks) {
    padding: 80px 40px 60px;

    .h4 {
      max-width: 180px;
    }

    .title {
      max-width: 500px;
    }

    .modals {
      .C_RIGHT {
        bottom: unset;
        width: 300px;
        top: -15%;
        right: -40px;
      }

      .C_LEFT {
        width: 300px;
        bottom: -100px;
        left: -40px;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 80px 20px;
    align-items: center;

    .modals {
      .C_RIGHT {
        bottom: unset;
        width: 300px;
        top: -15%;
        right: -20px;
      }

      .C_LEFT {
        width: 250px;
        bottom: -100px;
        left: -20px;
      }

      &__modal {
        .title {
          .h2 {
            width: 280px;
          }
        }

        .table {
          padding: 40px 20px;

          .row {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .data {
              padding: 10px;
              gap: 5px;

              .h3 {
                font-size: 18px;
              }

              .h4 {
                font-size: 14px;
              }

              span {
                font-size: 35px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 50px 20px;

    .h2.title {
      margin-bottom: 25px;
      font-size: 20px;
    }

    .modals {
      gap: 25px;
      width: 100%;

      .C_RIGHT {
        width: 150px;
        top: -8%;
        right: -20px;
      }

      .C_LEFT {
        width: 150px;
        bottom: -60px;
        left: -20px;
      }

      &__modal {
        border-radius: 20px;

        .title {
          max-width: 200px;
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 50px;
        }

        .table {
          padding: 10px 20px;
          width: 100%;
          text-align: center;

          .row {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            padding: 0 0 5px;

            .data {
              align-items: center;

              &.line {
                border: none;
              }

              &.p {
                padding: 20px 0 0;
              }

              .h3 {
                font-size: 22px;
              }

              .h3,
              .h4,
              span {
                text-align: center !important;
                max-width: unset;
              }

              .h4 {
                max-width: 250px;
              }
            }
          }
        }
      }
    }
  }
}
