@use "../variables.scss" as *;

#poll {
  position: relative;
  padding: 100px;
  background-color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 27px;
      text-transform: uppercase;
      max-width: 480px;
      color: $w;
    }

    .h4 {
      max-width: 600px;
      text-transform: none;
    }
  }

  .button {
    max-width: 320px;
    max-height: 85px;
  }

  .copter,
  .vector {
    position: absolute;
    object-fit: contain;
    top: 0;
    //  right: 50%;
  }

  .copter {
    z-index: 10;
    max-width: 600px;
    top: -250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .vector {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    scale: 1.1;
  }

  @media (max-width: $lscreen) {
    padding: 100px 60px;

    .text {
      .h4 {
        max-width: 550px;
      }
    }
  }

  @media (max-width: $notebooks) {
    padding: 100px 40px;

    .text {
      .h4 {
        max-width: 400px;
      }
    }

    .copter {
      max-width: 450px;
      top: -150px;
    }

    .vector {
      scale: unset;
      width: -webkit-fill-available;
      bottom: auto;
      top: auto;
    }

    .button {
      max-width: 250px;
    }
  }

  @media (max-width: $tablet) {
    padding: 100px 20px;

    flex-direction: column;

    .text {
      gap: 10px;
      margin-bottom: 20px;

      .h2,
      .h4 {
        max-width: 550px;
        text-align: center;
      }
    }

    .copter {
      max-width: 400px;
      top: -130px;
    }

    .vector {
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
    }
  }

  @media (max-width: $mobile) {
    padding: 80px 20px;

    .text {
      .h2 {
        font-size: 20px;
      }

      .h4 {
        text-align: left;
      }
    }

    .button {
      max-width: unset;
    }

    .copter {
      max-width: 320px;
      top: -100px;
    }

    .vector {
      display: none;
    }
  }
}
