@use "../variables.scss" as *;

#steps {
  padding: 100px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .h2 {
    color: $b;
    margin-bottom: 50px;
    max-width: 560px;
    text-align: center;

    span {
      background-color: $b;
      color: $w;
      padding: 0 5px;
    }
  }

  .steps {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 40px;
    max-width: 1440px;
    position: relative;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      z-index: 2;

      .h4 {
        color: $b;
        text-transform: none;
        text-align: center;
        max-width: 400px;
      }

      .wrap {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-color: $green;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &.black {
          background-color: $b;
          color: $w;
        }

        span {
          font-size: 40px;
          font-weight: 600;
          font-family: "maniford";
          text-align: center;
        }
      }
    }
  }

  @media (max-width: $lscreen) {
    padding: 80px 60px;
  }

  @media (max-width: $notebooks) {
    padding: 80px 40px;
  }

  @media (max-width: $tablet) {
    padding: 50px 20px;

    .steps {
      .step {
        .h4 {
          max-width: 300px;
        }

        .wrap {
          width: 80px;
          height: 80px;

          span {
            font-size: 32px;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .h2 {
      text-align: center !important;
    }
  }
}
