@use "./header";
@use "./mainscreen";
@use "./drive";
@use "./poll";
@use "./tech";
@use "./center";
@use "./choose";
@use "./documents";
@use "./modals";
@use "./gov";
@use "./download";
@use "./slider";
