// Media-Queries
$mobile: 480px;
$tablet: 768px;
$notebooks: 1024px;
$lscreen: 1200px;
$sxga: 1300px;
$xlscreen: 1920px;

//Text colors
$green: #b8f446;
$dark: #282828;
$grey: #d9d9d9;
$orange: #ff6c29;
$w: #fff;
$b: #000;
$placeholder: #ffffff;
$red: #ec1c26;
$blue: #70a2c1;

//Borders colors
$bordergrey: #e1e1e1;
$bordergreen: #b0cb1f;
$bordercard: #ceccbf;

//Background colors
$headerbg: #191919;
$whitegreen: #faf8eb;
$backgroundgreen: #f2f5d5;
$greenbox: rgba(176, 203, 31, 0.08);
$background: #f4f5f7;
$firstground: #eff4fa;
$backlightblue: #ddeef9;

$footerbg: #222222;
$footergrey: #656565;
$footerbgicons: #394057;

//Utils
$text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000,
  0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000,
  1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
  1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
  1px 1px 0 #000000;
